:root {
  font-family: Arial, Helvetica, sans-serif;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: black;
  color: white;

  --gaia-background: black;
}

* {
  box-sizing: border-box;
}

@keyframes page-out {
  to {
    transform-origin: top;
    transform: scale(0) skew(90deg);
    opacity: 0;
  }
}

@keyframes page-in {
  from {
    transform-origin: top;
    transform: scale(5) skew(90deg);
    opacity: 0;
  }
}

::view-transition-old(page) {
  animation: 0.3s ease-in page-out;
}

::view-transition-new(page) {
  animation: 0.3s ease-in page-in;
}
