* {
  font-family: Arial, Helvetica, sans-serif;
}

[part~="container"] {
  padding: 0;
}

/* @media (min-width: 1023px) {
  [part~="container"] {
    padding-left: 6rem;
    padding-right: 6rem;
  }
} */

h1::before {
  content: "👉";
}
h1::after {
  content: "👈";
}

p {
  color: rgba(225, 225, 225, 0.8);
  line-height: 1.6rem;
  font-size: 1.2rem;
}

u{
  display: block;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: .5px solid #ccc;
  padding: 1rem;
}